.rtl {
	.desktoplogo {
		float: right;
	}
	.horizontalMenu {
		float: left;
		>.horizontalMenu-list>li {
			float: right;
			> {
				.horizontal-megamenu .link-list li {
					a {
						text-align: right;
					}
					text-align: right;
				}
				ul.sub-menu>li> {
					a {
						text-align: right;
					}
					ul.sub-menu {
						right: 100%;
						>li>a {
							text-align: right;
						}
					}
				}
			}
		}
	}
	.horizontalMenu-list .sub-menu:before {
		right: 12px;
		left: auto;
	}
}

@media (min-width: 1024px) {
	.rtl .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list {
		border-right: 1px solid #e8ebf3;
		border-left: 0;
		&:first-child {
			border: 0;
		}
	}
}

.horizontalMenu-list {
	.sub-menu:after {
		right: 12px;
		left: auto;
	}
	.halfdiv {
		&:before,
		&:after {
			right: 12px;
			left: auto;
		}
	}
}

.rtl .animated-arrow {
	cursor: pointer;
	padding: 16px 19px 16px 31px;
	margin: 11px 0 0 15px;
}

@media only screen and (max-width: 991px) {
	.rtl .callusbtn {
		left: 5px;
		right: auto;
	}
}

@media only screen and (max-width: 991px) {
	.animated-arrow {
		right: 0;
		left: auto;
	}
}

.active {
	.horizontalMenu>.horizontalMenu-list {
		-webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		-ms-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
		margin-right: 0;
		margin-left: auto;
	}
	.horizontalMenucontainer {
		margin-right: 240px;
		margin-left: 0;
	}
}

@media only screen and (max-width: 991px) {
	.overlapblackbg {
		left: 0;
		right: auto !important;
	}
}

@media only screen and (max-width: 991px) {
	.horizontalMenu>.horizontalMenu-list>li>a {
		text-align: right;
	}
}

@media (max-width: 992px) {
	.top-bar .top-bar-right {
		text-align: center;
		display: block !important;
	}
}

@media (max-width: 1024px) and (min-width: 992px) {
	.top-bar .top-bar-right .contact {
		border-left: 0 !important;
		margin-left: 0 !important;
		padding-left: 0 !important;
		margin: 12px 0 !important;
	}
}

@media (max-width: 1024px) and (min-width: 992px) {
	.top-bar .top-bar-left {
		float: none !important;
		text-align: center;
		margin: 0 auto;
	}
}

@media (max-width: 568px) {
	.top-bar .top-bar-right .socials li {
		float: right !important;
		margin: 9px 11px !important;
	}
}