.Modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2000;
  }
  
  .Modal__container {
    position: relative;
    top: 10rem;
    padding: 1rem;
    width: 400px;
  }
  
  .Modal__close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: #F5F5F5;
    padding: 0.5rem 1rem;
  }

  .btn-tgd:not(:disabled):not(.disabled):active, .btn-tgd:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-tgd {
  color: #fff;
  background-color: #28a745bd;
  border-color: #28a745bd;
}